* {
    font-family: monospace;
    font-weight: bold;
    box-sizing: border-box;
    user-select: none;
}
body {
    margin: 0;
}
#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.task {
    width: 300px;
    max-width: 90%;
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
    animation: test2 800ms;
}
.task_question {
    margin-top: 40px;
}
.task_answers {
    margin-top: 40px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
}
.task_btn {
    background: white;
}
.task_btn:active {
    background: #d8d8d8;
}
.task_submit {
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    background: #00c800;
    color: white;
}
.task_submit:hover {
    background: #00a000;
}
.task button {
    border: none;
    padding: 10px;
    transition: 200ms background;
    box-shadow: 1px 1px 4px 1px #b8b8b8;
    outline: none;
}
.task_btn_selected {
    background: #d8d8d8 !important;
}
@keyframes test {
    to {
        transform: translate(100vw, 0);
    }
}
.task_result {
    font-size: 32px;
    animation: test3 2000ms;
    color: red;
}
.task_result_correct {
    color: #00c800 !important;
}
@keyframes test2 {
    from {
        transform: translate(-100vw, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes test3 {
    from {
        transform: translate(-100vw, 0);
    }
    40% {
        transform: translate(0, 0);
    }
    60% {
        transform: translate(0, 0);
    }
    to {
        transform: translate(100vw, 0);
    }
}
.score {
    font-size: 30px;
}
.title {
    font-size: 40px;
}
.start {
    margin-top: 40px;
    display: inline-block;
    font-size: 20px;
    color: white;
    background-color: #748eff;
    border: none;
    border-radius: 2px;
    
}
